<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- C3P0数据源配置 -->
    <bean id="c3p0Config" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 利用set方法注入 -->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql:///webcase?useSSL=false"/>
        <property name="user" value="root"/>
        <property name="password" value="ganga"/>
    </bean>


    <!-- Druid数据源配置 -->
    <bean id="druidConfig" class="com.alibaba.druid.pool.DruidDataSource">
        <!-- 利用set方法注入 -->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///webcase?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="ganga"/>
    </bean>


</beans>